<section class="login-form">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" >
    <mat-form-field>
      <input
        type="email"
        matInput
        placeholder="Your email"
        formControlName="email"
        >
      <mat-error>Field must not be empty.</mat-error>
      <mat-error>E-Mail is invalid.</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="Should be at least 6 characters long.">
      <input
        type="password"
        matInput
        placeholder="Your password"
        formControlName="password"
        >
      <mat-error>Has to be at least 6 characters long.</mat-error>
    </mat-form-field>
      <button *ngIf="!isLoading"
      [disabled]="form.invalid"
      type="submit" mat-raised-button color="primary">Submit</button>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </form>
</section>

